body {
  font-family: Arial,Verdana,sans-serif;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

#totalsHosts { 
  float: left;
  margin-right: 10px;
}

#totalsServices { 
  float: left 
}

#totalsHosts th, #totalsServices th {
  background: #707677;
  color: white;
}

#totalsHosts td, #totalsServices td {
  text-align: center;
}

h3 {
  margin: 0px 0px 3px 0px;
}

.ok, .cri, .unr, .pend, .unkn, .warn {
  color: white;
}

.ok { background: #00cc33 }
.cri { background: #ff3300 }
.unr, .pend { 
  background: #e9e9e9;
  color: black;
}
.unkn { background: #bf44b2 }
.warn { background: #ffa500 }
  
.normal { background: #e9e9e9; }
.state { text-transform: capitalize; padding: 0px 5px; white-space: nowrap; }

tr.host { font-weight: bold; }
td a:link { text-decoration: none; }
td a:hover { text-decoration: underline; }

br.clear { clear: both; }

.tools {
  white-space: nowrap;
}

.tools a {
  float: left;
}

.center {
  text-align: center;
}

.ui-tabs {
  border: 0px !important;
}

a#refresh-data {
  position: absolute;
  top: 9px;
  right: 20px;
  z-index: 1000;
  width: 16px;
  height: 17px;
  background: url("img/reload.png") no-repeat;
}

#footer {
  font-family: Arial, Verdana, sans-serif;
  text-align: right;  
  margin-top: 5px;
  padding: 10px;
  padding-top: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#e6f2cb));
}

#footer span#flattrbutton {
  float: left;
}

#footer a {
  color: black;
}

#footer a:hover {
  color: navy;
}

/* ugly hack.. I'm receiving orange border arround fist <a> with href and I don't know
 * why. So this is temp solution */
a.uglyfirstahack {
  width: 1px; height: 1px;
  position: absolute;
  top: -20px;
}

.downtime {
  background-image: url('img/downtime.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 24px;
}

#searchHosts, #searchServices {
  width: 300px;
}

#all-ok {
  background: url('img/ok.png') no-repeat;
  padding-left: 40px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 20px;
}

body#popup {
  min-width: 420px;
}
