#totalsHosts { 
  float: left;
  margin-right: 10px;
}

#totalsServices { 
  float: left 
}

#totalsHosts th, #totalsServices th {
  background: #707677;
  color: white;
}

#totalsHosts td, #totalsServices td {
  text-align: center;
}

h3 {
  margin: 0px 0px 3px 0px;
}

.ok, .cri, .unr, .pend, .unkn, .warn {
  color: white;
}

.ok { background: #00cc33 }
.cri { background: #ff3300 }
.unr, .pend { 
  background: #e9e9e9;
  color: black;
}
.unkn { background: #bf44b2 }
.warn { background: #ffa500 }
  
.normal { background: #e9e9e9; }
.state { text-transform: capitalize; padding: 0px 5px; }

tr.host { font-weight: bold; }
td a:link { text-decoration: none; }
td a:hover { text-decoration: underline; }

br.clear { clear: both; }

